/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

/* Body Styling */
body {
    font-family: "Rubik", sans-serif;
}

h1 {
    font-family: 'Jost', sans-serif;
}

p {
    display: block;
    font-family: 'Nunito Sans', sans-serif;
}

p::selection {
    background-color: #ff711f;
}

h1::selection {
    background-color: #ff711f;
}

/* TOP NAVBAR Start */
.navbar-top {
    padding: 15px 0;
    line-height: 1.2380952381;
}

.topNav-container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* margin-right: 50px; */
}

.top-navs {
    flex: 1;
    padding: 0 12px;
    min-width: 200px; 
}

.top-navs a ion-icon {
    margin-top: 5px;
}
.nav-logo {
    margin-left: 120px;
    margin-top: 8px;
}
.nav-SocialMedia {
    margin-right: 123px;
    margin-top: 10px;

}
.nav-SocialMedia {
    display: flex;
    justify-content: flex-end;
}


/* Media Queries for Responsive Design */
@media (max-width: 1200px) {
    .row1 {
        margin-right: 60px;
    }
    .nav-logo {
        margin-left: 120px;
    }

    .nav-SocialMedia {
        margin-right: 50px;
    }

    .top-navs:nth-child(4) {
        margin-top: 10px;
    }
}
@media (max-width: 1024px) {
    .row1 {
        margin-right: -16px;
    }
    .nav-logo {
        margin-left: 50px;
    }

    .nav-SocialMedia {
        margin-right: 65px;
        margin-top: 30px;

    }

    .top-navs:nth-child(4) {
        margin-top: 10px;
    }
}

@media (max-width: 992px) {
    .row1 {
        margin-right: 10px;
    }
    .nav-logo {
        margin-left: 50px;
    }

    .top-navs:nth-child(4) {
        margin-top: 0;
    }
    .nav-SocialMedia,
    .nav-OfficeTime,
    .nav-email {
        display: none;
    }

}


@media (max-width: 768px) {
    .topNav-container {
        padding: 0 10px; 
    }

    .top-navs {
        flex: 1 1 auto;
        /* margin-bottom: 10px; */
    }

    .nav-logo img {
        height: 45px; 
    }

    .top-navs.nav-logo {
        order: 1; 
        margin-bottom: 10px;
        margin-left: 40px;
        display: flex;
        justify-content: left;
    }



}


@media (max-width: 576px) {
    .top-navs {
        text-align: center;
    }
    .top-navs.nav-logo {
        margin-left: 35px;
    }

    .nav-logo img {
        height: 41px; 
        margin-left: -10px;
    }

    .media-left i {
        font-size: 24px;
    }

    .media-body h6 {
        font-size: 14px;
    }

    .media-body p {
        font-size: 12px;
    }
}
@media (max-width: 480px) {
    .nav-logo img {
        height: 35px;
        margin-left: -33px;
    }
}
/* Top Navbar Media Alignment */
.media {
    display: flex;
    align-items: center;
}

.media-officeTime {
    justify-content: flex-end;
    margin-top: -15px;
}

.media-email {
    justify-content: flex-start;
    margin-top: -15px;

}

.top-navMed2 .media .media-left i {
    font-size: 30px;
    color: #ff5e00;
    margin-right: 10px;
}

.media .media-body h6 {
    margin-top: 1px;
    margin-bottom: 3.5px;
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
}

.media .media-body p {
    margin-bottom: 0;
    font-size: 14px;
    color: #616161;
}

/* Social Media */

.nav-SocialMedia a {
    background: #151423;
    display: inline-block;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    text-align: center;
    line-height: 27.8px;
    font-size: 14px;
    color: #fff;
    transition: .4s;
    margin-right: 10px;
}

.nav-SocialMedia a:hover {
    background-color: #ff5e00;
}

.fab,
.far {
    font-weight: 400;
    display: inline-block;
    line-height: 1;
}

a i {
    padding: 0 2px;
}

                                                /* TOP NAVBAR End */








                                                /* Navbar area start */
.navbar-area {
    display: flex;
    width: 100%;
    background-color: #151515;
    padding: 0 20px;

}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 100px;
    margin-right: 75px;
}

/* Navbar links on the left */

.navbar-nav1 {
    margin-bottom: 0 !important;
}
.navbar-left1 {
    display: flex;
}

.navbar-right1 {
    display: flex;
}

.navbar-right1 ul {
    display: flex;
}

.navbar-right1 ul li {
    list-style: none;
    padding: 0 26px;
    /* margin-top: 10px; */
}
.navbar-right1 ul li:first-child {
    padding-left: 0;
    margin-left: 20px;
}

.navbar-right1 ul li a {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    font-family: "Rajdhani", sans-serif;
    text-decoration: none;
}

.main-links {
    position: relative;
}
.main-links::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 27.5px;
    width: 0;
    height: 2px;
    background-color: #ff5e00;
    transition: width 0.3s ease-in-out;
}
.main-links:first-child::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 1px;
    width: 0;
    height: 2px;
    background-color: #ff5e00;
    transition: width 0.3s ease-in-out;
}

.main-links:hover::after {
    width: 30%;
}

/* Right side: Search bar and Get Started button */
.navbar-right2 {
    display: flex;
    align-items: center;
    margin-right: 34px;
}

.search-bar-btn {
    color: #fff;
    font-size: 18px;
    margin-right: 20px;
}

.it-btn {
    height: 62px;
    /* line-height: 58px; */
    padding: 0 25px;
    background-color: #ff5e00;
    color: #fff;
    text-decoration: none;
    margin-right: 42px;
    padding-top: 18px;

}

.hamburger {
    display: none; 
    font-size: 33px;
    cursor: pointer;
    color: white;
    margin-left: auto; 
}


/* Responsive styles */

@media (max-width: 1200px) {
    .navbar-container {
        margin-right: 25px;
        margin-left: 74px;
    }
    
}
@media (max-width: 1107px) {
    .it-btn {
        padding-top: 7px;
    }
    
}
@media (max-width: 1024px) {
    .navbar-container {
        margin-left: 25px;
        margin-right: 5px;
    }

}
@media (max-width: 992px) {
    .navbar-left1 {
        display: none; 
        position: absolute;
        top: 108px; 
        left: 0;
        width: 100%;
        background-color: #151515; 
        flex-direction: column;
        padding: 20px;
        z-index: 1000; 
    }
    .navbar-area .navbar-container .navbar-right2 {
        display: none;
    }

    .navbar-left1.active {
        display: flex; 
    }

    .hamburger {
        display: block; 
        font-size: 38px;
        cursor: pointer;
        position: absolute;
        top: 24px;
        right: 54px;
        z-index: 1001; 
    }
    .hamburger a {
        color: black;
    }

    .navbar-right1 ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .navbar-right1 ul li {
        padding: 15px 20px;
        text-align: center;
    }
  
}
@media (max-width: 768px) {
    .navbar-left1 {
        position: absolute;
        top: 92px;
        left: 0;
        background-color: #151515;
        width: 100%;
        display: none;
        flex-direction: column;
    }

    .navbar-left1.active {
        display: flex;
    }

    .navbar-right1 ul {
        flex-direction: column;
        width: 100%;
        text-align: left;
    }

    .navbar-right1 ul li {
        padding: 15px 20px;
        margin-top: 10px;
    }

    .navbar-right2 {
        flex: 1;
        justify-content: flex-end;
    }
    .hamburger {
        font-size: 31px;
        top: 21px;
        right: 45px

    }
}
@media (max-width: 576px) {
    .hamburger {
        font-size: 25px;
        top: 23px;
        right: 35px

    }
    .navbar-left1 {
        top: 89px;

    }
}
@media (max-width: 480px) {
    .hamburger {
        font-size: 22px;
        top: 25px;
        right: 20px;

    }
    .navbar-left1 {
        top: 83px;

    }
}
                                                                /* Navbar area End */






                                                                /* Slider area Start */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    aspect-ratio: 16/9;
    background-color: #ff5e00;
    position: relative;
    overflow: hidden;
}
.left-div, .image-container {
    height: 100%;
    position: absolute;
}
.left-div {
    left: 0;
    width: 74.5%; 
    background: url(../Images/bg-image.png);
    z-index: 2;
    clip-path: polygon(0 0, 61.5% 0%, 100% 100%, 0% 100%);
    padding: 20px;
}

.image-container {
    right: 0;
    width: 49%; 
    height: 100%;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 60% 100%);
}

#banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container {
    position: relative;
    padding: 20px;
    z-index: 3;
    width: auto;
    max-width: 450px;
    margin-left: 110px;
    margin-top: 195px;
}

/* Text Responsiveness */
.text1, .text2, .text3, .text4, .text5 {
    transition: opacity 0.6s ease-in;
    white-space: nowrap;
    font-family: 'Jost', sans-serif;
}

.text1 {
    color: #ff5e00;
    /* font-size: 1.2rem; */
    font-size: 1vw;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: -12px;

}

.text2, .text3 {
    color: black;
    font-size: 4.8vw;
    font-weight: 600;
}
.text2 {
    margin-bottom: -25px;
}
.text3 {
    margin-bottom: 15px;
}
.text4, .text5 {
    color: #616161;
    font-size: 1.1vw;
    margin-bottom: 0;
}

.button-container {
    display: flex;
    /* gap: 35px; */
    gap: 1.82vw;
    margin-top: 20px;
    margin-left: 130px;
}

.button1, .button2 {
    font-size: 0.9rem;
    /* padding: 17px 48px; */
    padding: 0.8854vw 2.5vw;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.button1 {
    background-color: #ff5e00;
    color: white;
}

.button1:hover {
    background-color: #151423;
}

.button2 {
    background-color: #151423;
    color: white;
}

.button2:hover {
    background-color: #ff5e00;
}

/* Triangle */
.traingle {
    position: absolute;
    bottom: 0%;
    right: 29%;
    width: 150px;
    height: 150px;
    clip-path: polygon(47% 0%, 47% 0%, 100% 100%, 0% 100%);
    background-color: #ff5e00;
    z-index: 100;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 1024px) {

    .text-container {
        margin-left: 52px;
        margin-top: 157px;
    }
    .button-container {
        margin-left: 75px;
    }
    .text1 {
        font-size: 1vw;
        margin-bottom: -4px;

    }
    .text2, .text3 {
        font-size: 4.8vw;
    }
    .text2 {
        margin-bottom: -20px;
    }
    .text3 {
        margin-bottom: 10px;
    }
    .text4,
    .text5 {
        /* font-size: 1rem; */
    }

}
@media screen and (max-width: 992px) {
    .banner {
        aspect-ratio: 5/3;
    }
    .traingle {
        position: absolute;
        bottom: 0%;
        right: 29%;
        width: 130px;
        height: 130px;
        background-color: #ff5e00;
        clip-path: polygon(51% 0%, 51% 0%, 100% 100%, 0% 100%);
        z-index: 100;
    }
    .text-container {
        margin-top: 140px;
    }
    .text2 {
        margin-bottom: -22px;
    }
    .button1, .button2 {
        font-size: 1.4vw;
        /* padding: 17px 48px; */
        padding: 0.7854vw 2.3vw;
        border-radius: 6px;
        border: none;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }
}
@media screen and (max-width: 768px) {
    .banner {
        aspect-ratio: 3/2;
    }
    .text-container {
        margin-top: 130px;
        margin-left: 35px;
    }  

    .text2, 
    .text3 {
    }
    .text2 {
        margin-bottom: -12px;

    }
    .text3 {
        margin-bottom: 20px;
    }
    .text4, .text5 {

    }
    .button-container {
        margin-top: 10px;
        margin-left: 54px;
    }
    .traingle {
        width: 120px;
        height: 120px;
        clip-path: polygon(58% 0%, 58% 0%, 100% 100%, 0% 100%);
    }
    .button1, .button2 {
        font-size: 1.2vw;
    }
}
@media screen and (max-width: 672px) {
    .text-container {
        margin-top: 100px ;
    }
}
@media screen and (max-width: 576px) {
    .text-container {
        margin-top: 60px;
        margin-left: 22px;
    }
    .button-container {
        margin-left: 43px;
    }
    .traingle {
        width: 100px;
        height: 100px;
        clip-path: polygon(58% 0%, 58% 0%, 100% 100%, 0% 100%);
    }
}
@media screen and (max-width: 480px) {
    .text-container {
        margin-top: 37px;
        margin-left: -15px;
    }
    .button-container {
        margin-left: 5px;
        margin-top: -1px;
    }
    .button1, .button2 {
        font-size: 2.4vw;
        padding: 1.6vw 4.5vw;

    }
    .traingle {
        width: 80px;
        height: 80px;
        clip-path: polygon(58% 0%, 58% 0%, 100% 100%, 0% 100%);
    }
    .text1 {
        font-size: 2.3vw;
        letter-spacing: 1.5px;
        margin-bottom: 0;
    }
    .text2,
    .text3 {
        font-size: 5.4vw;
    }
    .text2 {
        margin-bottom: -9px;
    }
    .text3 {
        margin-bottom: 10px;
    }
    .text4,
    .text5 {
        display: none;

    }
}
@media screen and (max-width: 320px) {
    /* If Needed for watches*/
}
                                                                /* Slider area End */


                                                                /* Our service start */
                                                       


.our-services {
    background-color: #f8f9fa;
    /* padding-top: 40px; */
    padding-top: 100px;
    padding-bottom: 90px;
}

.OS-container {
    margin-left: 120px;
    margin-right: 120px;
}

/* Our service heading styles */
.OS-heading-container {
    display: flex;
    justify-content: center;
    height: 200px;
}

.OS-heading {
    width: 800px;
    height: 200px;
}

.OS-heading p {
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 5px;
    color: #ff5e00;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.OS-heading h1 {
    text-align: center;
    font-weight: 900;
    font-size: 52px;
    text-transform: capitalize;
}

/* Our service body styles */
.OS-body {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.OS-body-divs {
    flex: 1 0 calc(25% - 50px);
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    height: 360px;
    border-radius: 6px;
    transition: all 0.5s;
}

.OS-body-divs:hover {
    background-color: white;
    box-shadow: 0 0 30px 0 rgba(21, 21, 21, 0.1);
}

.OS-Items-container {
    margin: 20px auto;
    width: 230px;
    height: 260px;
}

.OS-Items-body {
    width: 230px;
    height: 170px;
}

.services-should-goUp {
    width: 245px;
}

.OS-Items-body a {
    text-decoration: none;
}

.OS-Items-body a:hover h1 {
    color: #ff5e00;
}

.OS-Items-body a h1 {
    font-size: 26px;
    font-weight: 600;
    color: #151515;
    transition: all 0.5s ease;
}

.OS-Items-body p {
    margin-top: 8px;
    font-size: 14px;
    line-height: 25px;
    color: #616161;
}

.OS-Items-icons {
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #ff5e00;
    width: 105px;
    height: 105px;
    border-radius: 100%;
}

.OS-Items-icons ion-icon {
    margin-top: 20px;
    width: 65px;
    height: 65px;
    color: #fff;
}

/* Media Queries for Responsive Design */
@media (max-width: 1200px) {
    .OS-container {
        margin-left: 60px;
        margin-right: 60px;
    }

    .OS-heading h1 {
        font-size: 42px;
    }
}

@media (max-width: 992px) {
    .OS-body-divs {
        flex: 1 0 calc(33.33% - 40px);
    }

    .OS-container {
        margin-left: 40px;
        margin-right: 40px;
    }

    .OS-heading h1 {
        font-size: 36px;
    }
}

@media (max-width: 768px) {
    .OS-body-divs {
        flex: 1 0 calc(50% - 30px);
    }

    .OS-container {
        margin-left: 30px;
        margin-right: 30px;
    }

    .OS-heading h1 {
        font-size: 32px;
    }
}

@media (max-width: 576px) {
    .OS-body-divs {
        flex: 1 0 calc(100% - 20px);
    }

    .OS-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .OS-heading h1 {
        font-size: 28px;
    }

    .OS-Items-icons {
        width: 85px;
        height: 85px;
    }

    .OS-Items-icons ion-icon {
        width: 50px;
        height: 50px;
    }

    .OS-Items-body a h1 {
        font-size: 22px;
    }
}

@media (max-width: 480px) {
    .OS-container {
        margin-left: 15px;
        margin-right: 15px;
    }
    .OS-body {
        gap: 25px;
    }

    .OS-heading h1 {
        font-size: 6vw;
    }
    

    .OS-body-divs {
        height: auto;
    }

    .OS-Items-body p {
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 320px) {
    .OS-container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .OS-heading h1 {
        font-size: 20px;
    }

    .OS-body-divs {
        height: auto;
        padding: 15px;
    }

    .OS-Items-body p {
        font-size: 12px;
    }
}

                                                                /* Our service End */





                                                                /* Portals Start */
.portals {
    background-color: white;
    padding-top: 30px;
}

.portal-container {
    width: 100%; 
    margin: 0 auto; 
    padding: 0 20px;
    padding-bottom: 80px; 
}

/* portals Header start */
.portal-header {
    height: 200px;
    display: flex;
    justify-content: center;
}

.p-header-container {
    margin-top: 50px;
}

.p-header-container p {
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 5px;
    color: #ff5e00;
    margin-bottom: 8px;
}

.portal-container .portal-header .p-header-container h1 {
    text-align: center;
    font-weight: 900;
    font-size: 52px;
    text-transform: capitalize;
    color: black;
}

/* portals Header End */

/* Portals body */
.portal-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 3;
    margin-top: 17px;
}

.portal-divs {
    margin-bottom: 40px;
    width: calc(25% - 20px); 
    display: flex;
    justify-content: center;
}
/* line between evdery items */
.portal-divs {
    position: relative;
    padding-right: 20px;
    height: 325px;
}


.portal-divs:not(:last-child) {
    border-right: 1px solid #f0f0f0;
}

.portal-divs:last-child {
    border-right: none;
}
/* line between evdery portal divs */

.portal-items-container {
    width: 100%; 
    height: 370px;
    margin: auto;
}

.portals-icon {
    width: 90px;
    height: 90px;
    background-color: #ff5e00;
    border-radius: 10px;
    margin: 0 auto;
}

.portals-items-body {
    width: 256px;
    height: 260px;
    margin: 20px auto 0;
}

.portal-items-container .portals-items-body h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: #151515;
}

.portal-items-container .portals-items-body h1 a {
    color: #151515;
    text-decoration: none;
    transition: all 0.5s;
}

.portal-items-container .portals-items-body h2 {
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    font-weight: bolder;
    color: #151515;
}

.portal-items-container .portals-items-body p {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    color: #616161;
}

.portals-icon ion-icon {
    width: 70px;
    height: 70px;
    color: #fff;
    margin-top: 12px;
    margin-left: 10px;
}

.portals-button-a {
    /* display: inline-block; */
    display: flex;
    /* margin-left: 70px; */
    justify-content: center;
    margin-top: 16px;
    text-decoration: none;
}

.portal-items-container .portals-items-body a button {
    background-color: #ff5e00;
    color: #fff;
    font-size: 15px;
    width: 110px;
    height: 36px;
    border-radius: 6px;
    border: none;
    transition: 0.2s ease-in-out;
}

.portal-items-container .portals-items-body a button:hover {
    color: #fff;
    background-color: #151515;
}

/* Responsiveness */
@media (max-width: 1200px) {
    .portals-items-body {
        width: 200px;
    }
    .portal-divs {
        height: 365px;
    }
}

@media (min-width: 1024px) {
    .portal-divs {
        width: calc(25% - 20px); 
    }
    
}


@media (max-width: 1023px) and (min-width: 768px) {
    .portal-divs {
        width: calc(50% - 20px);
        height: 287px;
        margin-bottom: 120px;
    }
    .portal-divs:nth-child(2),
    .portal-divs:nth-child(4) {
        border-right: none;
    }
    .portal-items-container {
        width: 100%;
    }
    .portals-items-body {
        width: 85%;
    }

    .portals-items-body h1 {
        font-size: 30px;
    }

    .portals-items-body h2 {
        font-size: 20px;
    }

    .portals-items-body p {
        font-size: 14px;
    }
}
@media (max-width: 992px) {
    .portal-container .portal-header .p-header-container h1 {
        font-size: 45px;
    }
}
@media (max-width: 768px) {
    .portal-divs {
        width: calc(50% - 20px); 
        height: 287px;
        margin-bottom: 120px;
    }
    .portal-divs:nth-child(2) {
        border-right: none;
    }

    .portal-items-container {
        width: 100%;
    }

    .portals-items-body h1 {
        font-size: 25px;
    }

    .portals-items-body h2 {
        font-size: 18px;
    }

    .portals-items-body p {
        font-size: 13px;
    }
    .portal-container .portal-header .p-header-container h1 {
        font-size: 6.5vw;
    }
}

@media (max-width: 576px) {
    .portal-container {
        padding-bottom: 0;
    }
    .portal-divs {
        width: 100%;
    }
    .portal-divs:nth-child(1),
    .portal-divs:nth-child(3){
        border-right: none;
    }
    .portal-items-container {
        width: 100%;
    }
    
    .portals-items-body h1 {
        font-size: 22px;
    }

    .portals-items-body h2 {
        font-size: 16px;
    }

    .portals-items-body p {
        font-size: 12px;
    }
    .portal-container .portal-header .p-header-container h1 {
        margin-top: 14px;
        font-size: 6.8vw;
    }
}

@media (max-width: 480px) {
    .portal-divs {
        width: 100%;
        margin-bottom: 50px;
        height: 346px;
    }
    .portal-divs:nth-child(2),
    .portal-divs:nth-child(3),
    .portal-divs:nth-child(4) {
        height: 371px;
    }
    .portal-divs:nth-child(1),
    .portal-divs:nth-child(2),
    .portal-divs:nth-child(3){
        border-bottom:1px solid #222831;
    }

    .portal-items-container {
        width: 100%;
    }

    .portals-items-body h1 {
        font-size: 20px;
    }

    .portals-items-body h2 {
        font-size: 15px;
    }

    .portals-items-body p {
        font-size: 12px;
    }
    .portal-container .portal-header .p-header-container h1 {
        margin-top: 16px;
        font-size: 8vw;
    }
}
                                                                        /* Portal End */


                                                        /* Expert team Start */
/* Team Section Styles */
.team-title {
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 14px;
    color: #ff5e00;
}

.team-member {
    background-color: #F7F8F9;
    border-radius: 7px;
    overflow: hidden;
    transition: transform 0.3s;
}
.team-divs {
    padding-right: 2rem !important;
}

.team-member:hover {
    transform: translateY(-10px);
}
.team-members-heading {
    font-family: 'Jost', sans-serif;
    font-weight: 600 !important;
}

.team-img img {
    width: 100%;
    height: auto;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.team-img3 {
    padding-top: 35px;
}

.team-body {
    padding: 20px;
    text-align: center;
}

.team-body h5 {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
    margin-top: 15px;
    color: #151515;
}

.team-duty {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    color: #616161;
    margin-bottom: 6px;
}

.team-expertise {
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
    color: #616161;
}

.team-social a {
    width: 50px;
    height: 50px;
    background-color: #151515;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    transition: background-color 0.3s ease-in-out;
    border: none;
}

.team-social a:hover {
    background-color: #ff5e00;
}
.row.justify-content-center {
    display: flex;
    flex-wrap: wrap;
}

.col-lg-4, .col-md-6 {
    display: flex;
    align-items: stretch; /* Ensures each column stretches to the same height */
}

.team-member {
    flex-grow: 1; /* Makes all team-member cards equally stretchable */
}
.team-member:nth-child(3) .team-body {
    margin-top: 30px;
}
@media (max-width: 992px) {
    .team-divs {
        padding-right: 0.5rem !important;
    }
}
                                                        /* Expert team End */













